 <head>

    <title><%= config.websiteName %> - <%= titlePartial %> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include('./seo') %>
    <%- include('./favicon') %>
    <%- include('./styles')%>
    <%- include('./scripts') %>

</head>