    <!DOCTYPE html>
    <html>
        <%- include('../partials/head'); %>
<body class="vh-100">
    <div class="container-fluid h-100">
        <div class="row align-items-center h-100 pt-lg-0 pt-5 login-form-container">
            <div class="col-12 col-lg-3 d-none d-lg-block"></div>
            <div class="col-12 col-lg-6 align-middle ">
                <div class="w-100 bg-dark bg-opacity-75 p-3 mx-auto">
                    <h2 class="text-light"><%=language.login.title %></h2>
                    <% if(error !== null){ %>
                      <h4> <span class="text-danger"><%=language.errorDefaults.error %>: </span><span class="text-light"><%=error %></span></h4>
                    <% } %>
                    <form id="asd" method="post">
                        <input class="form-control mt-3" type="text" name="username" placeholder="<%=language.login.usernameLabel %>" required>
                        <input class="form-control mt-3" type="password" name="password" placeholder="<%=language.login.passwordLabel %>" required>
                        <input class="btn btn-success mt-3 me-2" type="submit" name="submit">
                        <a href="/lost-password"><button type="button" class="btn btn-danger mt-3 me-2"><%=language.login.lostPassButton %></button></a>
                        <a href="/registration"><button type="button" class="btn btn-warning mt-3 me-2"><%=language.login.registrationButton %></button></a>
                    </form>
                </div>

            </div>
            <div class="col-12 col-lg-3 d-none d-lg-block"></div>
        </div>
    </div>
</body>
</html>