<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>
<body class="vh-100">
<div class="container-fluid h-100">
    <div class="row align-items-center h-100 pt-lg-0 pt-5 login-form-container">
        <div class="col-12 col-lg-3 d-none d-lg-block"></div>
        <div class="col-12 col-lg-6 align-middle ">
            <div class="w-100 bg-dark bg-opacity-75 p-3 mx-auto">
                <h2 class="text-light"><%=language.registration.activationKeyNotFoundTitle %></h2>
                <p class="text-light mt-3"><%-language.registration.activationKeyNotFoundMessage.replaceAll('\n', '<br><br>') %></p>
                <a href="/"><button type="button" class="btn btn-success mt-3 me-2"><%=language.navbar.frontpage %></button></a>
                <a href="/registration"><button type="button" class="btn btn-warning mt-3 me-2"><%=language.registration.title %></button></a>
            </div>




        </div>
        <div class="col-12 col-lg-3 d-none d-lg-block"></div>
    </div>
</div>
</body>
</html>









