<!DOCTYPE html>
    <html>
        <%- include('../partials/head'); %>
      <body>
        <div id="content" class="container-fluid d-flex flex-column mx-0 px-0" >
              <div class="row px-2"><%- include('../partials/navbar'); %></div>
        </div>

            <% for(let charactersCounter = 0; charactersCounter <  charactersData.length; charactersCounter++){

                if(charactersCounter % 4 === 0){

                    %>

                   <%

                }

            %>

                <div class="col-12 col-md-6 col-lg-3">
                 <div class=" p-5 text-center text-light">
                   <a class="link link-success text-decoration-none" href="/characters/<%= charactersData[charactersCounter].character_name_slug%>/profile">
                        <div class="ratio ratio-1x1">
                              <img src="/images/profile_pictures/<%=charactersData[charactersCounter].character_name_slug%>.webp">
                        </div>
                         <h3 class="mt-2"><%=charactersData[charactersCounter].character_name%><h3>
                    </a>
                   </div>

                </div>


            <%

                    if(charactersCounter % 4 === 3){

                                        %>
                                            </div>
                                        <%

                                    }

            } %>
            </div>
      </body>
   </html>
